<h1>• Linda •</h1>
<h2> find the Linda your lips desire </h2>
<hr id="rule">

<form id="sign-in" method="POST" action="/sign-in">
      <fieldset>
        <legend>welcome home</legend>
        <div class="form-group">
          <label for="email">Email address</label>
          <br>
          <input class="form-control" type="email" name="email" id="email">
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <br>
          <input class="form-control" type="password" name="password" id="password">
        </div>

        <div class="form-group">
        <span>
          <input class="btn btn-primary" type="submit" value="Sign in">
          <button id="new-here">i'm new here</button>
          </span>
        </div>
      </fieldset>
    </form>