<h1 id="sign-up-h1">• Linda •</h1>
<h2 id='sign-up-h2'> welcome to Linda's hidden paradise </h2>

<form id="sign-up" method="POST" action="/sign-up">
<fieldset>

      <span class="sign-up-span">
        <label for="firstName"> first name </label>
        <input class="form-control" type="firstName" name="firstName" id="first-name">
        <label for="lastName"> last name </label>
        <input class="form-control" type="lastName" name="lastName" id="lastName">
      </span>

      <br><br>
      <span class="sign-up-span">
        <label for="email"> email </label>
        <input class="form-control" type="email" name="email" id="email">
        <label for="passwordHash">password</label>
        <input class="form-control" type="passwordHash" name="passwordHash" id="password">
      </span>

        <br><br>
        <span class="sign-up-span">
        <label for="age"> age </label>
        <input class="form-control" type="age" name="age" id="age">
        <label for="location"> location </label>
        <input class="form-control" type="location" name="location" id="location">
      </span>
      <span>
        <label for="description"> description </label>
        <input class="form-control" type="description" name="description" id="description">
      </span>

  <div class="form-group">
    <span id="button-span">
    <a href="/"><button id="back" type="button">back</button></a>
    <input class="btn btn-primary" type="submit" value="sign up">
    </span>
  </div>
</fieldset>
</form>
